  <section class="section buttonz">
      aaa
  </section>

<section class="section">

  <div class="columns gridcols">
    <div class="column gridcol">
      First column
    </div>
    <div class="column gridcol">
      Second column
    </div>
  </div>

  <div class="columns gridcols">
    <div class="column gridcol">
      Third column
    </div>
    <div class="column gridcol">
      Fourth column
    </div>
  </div>

</section>
